// Hub — магазин плагінів (аналогічний до extensions)
.hub {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 20;
    background-color: #232425;

    &__body {
        flex: 1;
        overflow: hidden;
    }

    // --- Блок/рядок категорії ---
    &__block {
        &-head {
            padding: 0 $offset;
            margin-bottom: 1em;
        }

        &-title {
            font-size: 1.2em;
        }

        &-body {
            min-height: 10em;

            .scroll__body {
                display: flex;
            }
        }

        + .hub__block {
            margin-top: 2.4em;
        }
    }

    // --- Картка плагіна ---
    &__item {
        background-color: #404040;
        border-radius: 1em;
        padding: 1em;
        display: flex;
        flex-direction: column;
        min-height: 10em;
        width: 20em;
        flex-shrink: 0;
        position: relative;
        will-change: transform;

        &.focus {
            &:after {
                content: "";
                position: absolute;
                top: -0.5em;
                left: -0.5em;
                right: -0.5em;
                bottom: -0.5em;
                border: 0.3em solid #fff;
                border-radius: 1.4em;
                z-index: -1;
                pointer-events: none;
            }
        }

        &-author {
            color: #8D8D8D;
            font-size: 0.84em;
            margin-bottom: 0.2em;
        }

        &-category {
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;
            padding: 0.1em 0.5em;
            font-size: 0.75em;
            color: #aaa;
            margin-bottom: 0.5em;
            width: fit-content;
        }

        &-name {
            font-size: 1.1em;
            line-height: normal;
            margin-bottom: 0.5em;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-descr {
            line-height: 1.5;
            margin-bottom: 0.3em;
            font-size: 0.84em;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1;
            color: #aaa;
        }

        &-footer {
            margin-top: auto;
            padding-top: 1em;
            display: flex;
            align-items: center;
        }

        &-included {
            width: 1.2em;
            height: 1.2em;
            background-color: rgba(0, 0, 0, 0.18);
            border-radius: 100%;
            text-align: center;
            padding-top: 0.24em;
            margin-right: 0.5em;

            &:after {
                content: '';
                display: inline-block;
                width: 0.2em;
                height: 0.4em;
                border-right: 0.15em solid #fff;
                border-bottom: 0.15em solid #fff;
                transform: rotate(45deg);
            }
        }

        &-proto {
            margin-right: 0.5em;

            > svg {
                width: 1em !important;
                height: 1em !important;
            }

            &.protocol-https {
                color: #6DCE4B;
            }

            &.protocol-http {
                opacity: 0.3;
            }
        }

        &-disabled {
            background-color: rgba(0, 0, 0, 0.18);
            border-radius: 0.3em;
            padding: 0.3em 0.4em 0.4em;
            font-size: 0.78em;
            margin-left: auto;
            color: #DD7337;
        }
    }
}
